<div class="container">
	<dir class="row">
		<h2 class="text-center col-xs-12">投稿リスト</h2>
	</dir>
	<div class="row">
		<div class="col-sm-offset-1">
			<% @posts.each do |post| %>
				<div class="col-md-4">
					<div class="post-box text-center">
						<%= link_to post_path(post), class: "post_#{post.id} " do %>
							<p class="post-title col-xs-12"><%= post.title %></p>
							<%= attachment_image_tag(post, :image, size: "200x200", fallback: "no_image.png", class: "post-image") %> <br>
						<% end %>
						<%= link_to user_path(post.user) do %>
							<p class="post-username col-xs-7 col-xs-offset-1 text-left">
								<%= attachment_image_tag(@user, :profile_image, size: "25x25", fallback: "no_image.png", style: "border-radius: 50%;") %>
								<%= post.user.name %>
							</p>
						<% end %>
						<div class="text-left">
							<%= render 'favorites/favorite-button', post: post %>
						</div>
					</div>
				</div>
			<% end %>
		</div>
	</div>
	<div class="row">
		<div class= "text-center paginate">
			<%= paginate(@posts) %>
		</div>
	</div>
</div>